.body{
    background-color: antiquewhite;
    padding: 5px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 250px;
}

input[type="text"] {
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="text"]::placeholder {
    color: #bbb;
}

.searchImg {
    text-indent: -999px;
    overflow: hidden;
    width: 32px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    opacity: 0.7;
}

input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.mode {
    border: 1px solid #ccc;
    display: flex;
    padding: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1;
    width : 250px;
}

/* Change background color of buttons on hover */
.tab:hover {
    background-color: #ddd;
}

.active {
    background-color: #ccc;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 113px;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    width: 113px;
}

.logo{
    overflow: hidden;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
}

.highlight {
    background-color: #EEF43B;
}