.body{
    background-color: black;
    padding: 5px;
}

.container{
    border: 5px solid black;
    margin: -10px;
    background-color: black;
}

form {
    color: #555;
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 300px;
    background-color: #2f2f2f;
}

input[type="text"] {
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    font-family: "Courier New";
}

input[type="text"]::placeholder {
    color: #bbb;
}

input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.highlight {
    background-color: #EEF43B;
}

.foundLabel {
    margin: 0;
    padding: 7px 8px;
    font-size: 10px;
    border: 1px solid transparent;
}

.searchText {
    width: 300px;
}